USE [master]
GO
/****** Object:  Database [VD]    Script Date: 06.12.2021 12:29:44 ******/
CREATE DATABASE [VD]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'VD', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\VD.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'VD_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\VD_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [VD].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [VD]
GO
/****** Object:  Table [dbo].[Drivers2]    Script Date: 06.12.2021 12:29:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Drivers2](
	[ID] [int] NOT NULL,
	[Lastname] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Thirdname] [nvarchar](50) NOT NULL,
	[Passport] [varchar](max) NOT NULL,
	[Registration_adress] [nvarchar](50) NOT NULL,
	[Working_place] [nvarchar](50) NOT NULL,
	[Dolzhnost] [nvarchar](50) NOT NULL,
	[Phone] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[photo] [nvarchar](50) NOT NULL,
	[Notes] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[licences1]    Script Date: 06.12.2021 12:29:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[licences1](
	[licence_date] [datetime] NULL,
	[expire_date] [datetime] NULL,
	[categories] [nvarchar](50) NULL,
	[licence_series] [float] NULL,
	[licence_number] [int] NULL,
	[Status] [nvarchar](50) NULL,
	[VIN] [nvarchar](50) NULL,
	[Manufacturer] [nvarchar](50) NULL,
	[Model] [nvarchar](50) NULL,
	[Year] [int] NULL,
	[Weight] [int] NULL,
	[Color] [int] NULL,
	[Engine_Type] [nvarchar](50) NULL,
	[type_of_drive] [nvarchar](50) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Drivers2] ([ID], [Lastname], [Name], [Thirdname], [Passport], [Registration_adress], [Working_place], [Dolzhnost], [Phone], [Email], [photo], [Notes]) VALUES (1, N'Hopkins', N'Alonso', N'Caleb', N'160716', N'452 Cobblestone St.', N'Global Gillette', N'Reporter', N'(970) 383-8933', N'skippy@icloud.com', N'001-happy-18.png', NULL)
INSERT [dbo].[Drivers2] ([ID], [Lastname], [Name], [Thirdname], [Passport], [Registration_adress], [Working_place], [Dolzhnost], [Phone], [Email], [photo], [Notes]) VALUES (2, N'Sellers', N'Kaydence', N'Susannah', N'160745', N'Hyattsville, MD 20782', N'Coca-Cola', N'Elementary School Teacher', N'(867) 708-4447', N'isotopian@sbcglobal.net', N'002-cool-5.png', NULL)
INSERT [dbo].[Drivers2] ([ID], [Lastname], [Name], [Thirdname], [Passport], [Registration_adress], [Working_place], [Dolzhnost], [Phone], [Email], [photo], [Notes]) VALUES (3, N'Bray', N'Finnegan', N'Brighton', N'717453', N'9648 Philmont Lane', N'Harley-Davidson Motor Company', N'Childcare worker', N'(221) 428-7850', N'isaacson@att.net', N'003-happy-17.png', NULL)
GO
INSERT [dbo].[licences1] ([licence_date], [expire_date], [categories], [licence_series], [licence_number], [Status], [VIN], [Manufacturer], [Model], [Year], [Weight], [Color], [Engine_Type], [type_of_drive]) VALUES (CAST(N'2019-01-13T00:00:00.000' AS DateTime), CAST(N'2027-07-03T00:00:00.000' AS DateTime), N'B', 5640, 613073, N'Active', N'WBAKG7C54DJ746310', N'BMW', N'1-Series', 2009, 1794, 116, N'3', N'front-wheel drive')
INSERT [dbo].[licences1] ([licence_date], [expire_date], [categories], [licence_series], [licence_number], [Status], [VIN], [Manufacturer], [Model], [Year], [Weight], [Color], [Engine_Type], [type_of_drive]) VALUES (CAST(N'2018-08-02T00:00:00.000' AS DateTime), CAST(N'2023-09-21T00:00:00.000' AS DateTime), N'B', 7465, 904246, N'Active', N'JN1CV6APXCM884333', N'BMW', N'1-Series', 2018, 1523, 118, N'3', N'front-wheel drive')
INSERT [dbo].[licences1] ([licence_date], [expire_date], [categories], [licence_series], [licence_number], [Status], [VIN], [Manufacturer], [Model], [Year], [Weight], [Color], [Engine_Type], [type_of_drive]) VALUES (CAST(N'2018-12-31T00:00:00.000' AS DateTime), CAST(N'2025-01-25T00:00:00.000' AS DateTime), N'B, A', 6750, 769897, N'Active', N'2C4RDGCG2FR292116', N'BMW', N'2-Series', 1994, 1750, 120, N'2', N'front-wheel drive')
GO
USE [master]
GO
